.topmenu
{
     margin: 0 auto;
     width: 300px; 
}

.topmenu_button
 {
   border: 1px black;
   border-right: 1px black;
   text-align:center;
   padding:3px;
 }
 
 .topmenu_caption
 {
     font-weight: bold;
     font-size:140%;
 }

body 
{
    background-color: rgb(253,245,230);
	background-size: cover;
	background-repeat: no-repeat;
}