.page-div {
    clear: left;
}

.container
{
   border: 1px solid black;
   padding:	30px;
}
 
.entry
{
    float: left;
    margin: 10px;
    border: 3px solid black; 
}

table
{
   border: 1px solid black;
}

.title
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.quantity 
{
	margin-left:auto;
	margin-right:auto;
    text-align: center;
}

.ad 
{
	margin-left:auto;
	margin-right:auto;
    text-align: center;
}

.field
{
   border: 1px solid black;
}
 
 .info
{
 	padding:5px;
}

tr.border_bottom td /* Credit: http://stackoverflow.com/questions/10040842/add-border-bottom-to-table-row-tr */
{
  border-bottom:1pt solid black;
  padding:5px;
}

.movie_detail
{
   border: 1px solid black;
   	max-height: 500px;
	max-width: 500px;
	min-height: 500px;
	min-width: 500px;	
}

a.button /* Credit http://stackoverflow.com/questions/2906582/how-do-i-create-an-html-button-that-acts-like-a-link*/
{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

	font-size: 16px;
	font-weight: bold;
    text-decoration: none;
    color: initial;
}

/* Credit http://www.w3schools.com/css/css_dropdowns.asp*/
.dropbtn {
    background-color: #ed5e01;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #dc5700;
}

.banner
{
	max-height: 150px;
	max-width: 150px;
}

.centered {
  position: relative;
display: inline-block;
text-align: center;
    
}
